body {
  color: white;
  background-color: #333;
}
.dual-container {
  display: flex;
  grid-template-columns: 1fr 1fr;
  width: 700px;
  margin: auto;
  justify-items: auto;
  align-items: auto;
}
.time-sets {
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-items: center;
  align-items: center;
}
